<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="paw"></ion-icon>
      <ion-label>Perros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="boat"></ion-icon>
      <ion-label>Barcos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="bicycle"></ion-icon>
      <ion-label>Bicicletas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
