<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Barcos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="https://i.pinimg.com/originals/ca/c6/d1/cac6d169621338315ca2f95968a55f79.jpg"></ion-img>
</ion-content>
