<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="https://i.pinimg.com/originals/a0/05/47/a0054732fdb1dd95b2283ee8c7fb5241.jpg"></ion-img>
</ion-content>
