<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bicicletas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="https://webrfree.com/wp-content/uploads/2019/08/Bicycle-HD-Wallpaper-1080x2340-369x800.jpg"></ion-img>
</ion-content>
